@media print {
  
  body {
      background-color: #fff;
  }
  
  .document {
      border: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
  }

  .document__page-container {
      background-color: #fff;
  }

  body * {
      visibility: hidden;
  }
  
  .document__page {
      page-break-before: always;
      margin: 0 !important;
      padding: 0 !important;
      border: 0 !important;
  }
  
  .document__page, .document__page * {
      visibility: visible;
  }

  .document__page-element.hovering::before, .document__page-element.selected::before {
      display:none;
  }
}