@media print {
  @page {
      size:210mm 297mm;
  }
  body {
      margin: 0 !important;
      background-color: #fff;
  }
  body * {
    visibility: hidden;
  }
  .document {
      border: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
  }

  .document__page-container {
      background-color: #fff;
  }

  .document__page {
      page-break-before: always;
  }
  
  .document__page, .document__page > div {
      margin: 0 !important;
      padding: 0 !important;
      border: 0 !important;
  }

  .document__page, .document__page * {
      visibility: visible;
  }

  .document__page-element.hovering::before, .document__page-element.selected::before {
      display:none;
  }

    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }  
}